/* src/components/Navigation/Navigation.module.css */
.nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5%;
  border-bottom: 1px solid #ccc;
  min-width: 320px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.active {
  color: #007bff;
  font-weight: bold;
}

@media screen and (min-width: 768) {
  .nav {
    min-width: 768px;
    display: flex;
    flex-direction: column;
  }}

@media screen and (min-width: 1280px) {
  .nav {
    min-width: 1280px;

  }}