/* Global Styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #f5f5f5;
}

/* Link Styles */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Body and Layout */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header {
  width: 840px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation a {
  margin: 0 15px;
  font-size: 1.2em;
  color: #000;
  font-weight: bold;
}

.navigation a.active {
  color: #646cff;
  text-decoration: underline;
}

/* Typography */
h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

p {
  margin: 0;
  color: #444;
  font-size: 1em;
}

/* Form Styles */

input {
  width: 70%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #535bf2;
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.movie-list a {
  text-decoration: none;
  color: #646cff;
  font-size: 1.1em;
}

.movie-list a:hover {
  text-decoration: underline;
}

/* Responsive Design */

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 10px;
}

.active {
  font-weight: bold;
  color: blue;
}


